body{
    overflow-y: hidden;
}
.center{
    text-align: center;
    color: darkred;
}
.container{
    border: 1px solid black;
    width: 50%;
    /* margin: auto; */
    padding: 20px;
}
div{
    margin-top: 10px;
}
.slides{
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    display: flex;
    overflow-x: scroll;
}

section{
    height: 100vh;
    min-width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: start;
}

.section-1{
    background-image: url("img/image1.jpg");
}

.section-2{
    background-image: url("img/image2.jpg");
}

.section-3{
    background-image: url("img/image3.gif");
}

.section-4{
    background-image: url("img/image4.png");
}
.section-5{
    background-image: url("img/image5.jpg");
}